.table-scroller {
	overflow-x: scroll;
	max-width: 100%;
}

td.value > div {
	width: max-content;
}

input.split {
	margin-left: 0.5em;
}

/* Select */

.search {
	flex-grow: 1;
}

.search + .file-input {
	flex-grow: 0;
	margin: 0 1em;
}

.select {
	height: 256px;
	display: flex;
}

.select .results {
	min-width: 8em;
	width: 8em;
	vertical-align: top;
	height: 100%;
	overflow-y: scroll;
	padding: 0 0.5em;
}

.select .description {
	flex-grow: 1;
	vertical-align: top;
	height: 100%;
	overflow-y: scroll;
	padding: 0 0.5em;
}

.select .description > h1 {
	margin: 0;
}

.select .results .result {
	cursor: pointer;
}

.select .results .result .focus {
	font-weight: bold;
	text-decoration: underline;
}

/* -------- */

.mono {
	font-family: monospace;
}

.form {
	border: 1px solid #888;
	border-radius: 1px;
	display: inline-block;
	padding: 4px;
	margin: 4px;
	overflow: scroll;

	/* Hmmm */
	min-width: 512px;
}

.form .select {
	max-width: 512px;
}

.object {
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.form h3 {
	margin: 0;
}

.float {
	float: right;
}

.form label {
	display: block;
}

form .container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

tbody {
	vertical-align: baseline;
}

.states {
	fill: #aaa;
}

.state-borders {
	fill: none;
	stroke: #eee;
	stroke-width: 0.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	pointer-events: none;
}

.carousel {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	overflow-x: scroll;
}

.carousel div + div {
	margin-left: 1em;
}

h4 {
	padding-top: 1em;
	margin: 0;
}

h5 {
	margin: 0;
}

.max-width {
	width: max-content;
}

object.small {
	width: 320px;
	height: 320px;
}

object.medium {
	width: 640px;
	height: 480px;
}

header {
	max-width: 100%;
	width: max-content;
}

h4.header.max-width + button.float {
	margin-top: 1.5em;
}

header .header {
	display: inline-block;
	max-width: 100%;
	/* width: max-content; */
}

.carousel-item {
	margin: 0.5em;
	padding: 0.5em;
	border: 1px solid #888;
	border-radius: 1px;
}

/* header.opened {
		border: 1px solid #888;
		padding: 0.5em;
		margin: 0.5em;
		width: max-content;
	} */

.image {
	max-height: 320px;
	max-width: 320px;
}

.full.image {
	max-width: 100%;
	max-height: unset;
}

.medium.image {
	max-height: 640px;
	max-width: 640px;
}

.table,
.table th,
.table td {
	border: 1px solid #888;
	width: max-content;
}

.mono a {
	overflow-wrap: break-word;
}

.select-header {
	display: flex;
}

.select-header :first-child {
	flex-grow: 1;
}
